@font-face {
    font-family: kumbh-sans;
    src: url("./fonts/KumbhSans-Regular.ttf");
}

body {
    font-family: kumbh-sans;
    font-size: 18px;
    color: hsl(0, 0%, 59%);
    background-color: hsl(185, 75%, 39%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bg-top {
    position: absolute;
    top: -50%;
    left: -50%;
}

#bg-bottom {
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: -1 ;
}

.card {
    z-index: 3;
    width: 350px;
    height: 376px;
    border-radius: 10px;
    overflow: hidden;
    background: white;
}

.card .header {
    text-align: center;
    height: 140px;
}

.card .contents {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 150px;
}

.card .contents div {
    align-self: center;
}

.profile-pic {
    border-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 100%;
    transform: translate(0, -50%);
}

.name {
    font-weight: 700;
    color: black;
    margin-right: 1rem;
}

.name-row {
    display:flex;
    flex-direction: row;
}

.location {
    font-size: 16px;
    margin-top: 14px;
    margin-bottom:  24px;
    display: flex;
}

.card .footer {
    width: 100%;
    height: 86px;
    border-top: solid hsl(0, 0%, 59%) 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stat-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.stat-value {
    font-weight: 700;
    color: black;
    margin-bottom: 4px;
}

.stat-label {
    font-size: small;
    margin-top: 4px;
}